.MatchResultLoading{
  align-self: center;
}

.MatchResultBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1280px;
  margin-top: 5px;
}

.RealOuterContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1280px;
}

.MatchResultContainer {
  width: 1240px;
  height: 100px;
  padding: 0 20px;
  background-color: #d4d4d4;
  color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  margin-top: 10px;
  transition: height 0.3s ease-in-out;
}

.MatchDate{
    margin-top: -10px;
    margin-bottom: 10px;
}

.ScoreContainer{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 400px;
    text-align: center;
}

.Controller{
  height: 20px;
}

.Score{
  display: flex;
  flex-direction: row;
}

.Nickname{
    width: 180px;
}

.GoalPlayersContainer{
  display: flex;
  flex-direction: row;
  width: 450px;
  justify-content: space-between;
  margin-top: 10px;
}

.MyGoalPlayers{
  display:flex;
  flex-direction: column;
  font-size: 12px;
  text-align: right;
  width: 150px;
  flex-wrap: nowrap;
}

.OtherGoalPlayers{
  display:flex;
  flex-direction: column;
  font-size: 12px;
  width: 150px;
  flex-wrap: nowrap;
}

.MatchResuiltDetailContainer {
  width: 1280px;
  height: 700px;
  border: 1px solid #d4d4d4;
  border-radius: 15px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(87, 235, 19, 0.4);
  overflow: hidden;
  transition: height 0.8s ease-in-out;
}

.MatchResuiltDetailContainer{
  width: 1280px;
  height: 700px;
  border: 1px solid #d4d4d4;
  border-radius: 15px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(87, 235, 19, 0.4);
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.MatchDetailInfoContainer{
    width: 270px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MatchDetailInfoInnerContainer{
    display: flex;
    justify-content: space-between;
    color: white;
    width: 200px;
    text-align: center;
    margin-top: 20px;
}

.MyInformation {
  color: white;
  height: inherit;
  width: 505px;
  flex-wrap: wrap;
  margin-right: auto;
  overflow: hidden;
  background-image: url("https://www.notion.so/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F3c4f954d-6328-44f1-b777-748fe3387d97%2Fa92d0713-fa80-4c22-9f13-22672ffebd7c%2Fstadium_(2).png?table=block&id=bbd24679-e82b-48f7-83b6-833468ea53f3&spaceId=3c4f954d-6328-44f1-b777-748fe3387d97&width=1870&userId=ce4b5975-c8e1-4e51-a9a3-5bcf4e95d98f&cache=v2");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat; /* 이미지 반복 없음 */
}

.OtherInformation {
    color: white;
    height: inherit;
    width: 505px;
    flex-wrap: wrap;
    margin-left: auto;
    overflow: hidden;
    background-image: url("https://www.notion.so/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F3c4f954d-6328-44f1-b777-748fe3387d97%2Fa92d0713-fa80-4c22-9f13-22672ffebd7c%2Fstadium_(2).png?table=block&id=bbd24679-e82b-48f7-83b6-833468ea53f3&spaceId=3c4f954d-6328-44f1-b777-748fe3387d97&width=1870&userId=ce4b5975-c8e1-4e51-a9a3-5bcf4e95d98f&cache=v2");
    background-size: auto 100%;
    background-position: center; /* 이미지를 가운데 정렬 */
    background-repeat: no-repeat; /* 이미지 반복 없음 */
}

.ListContainer {
    display: flex;
    flex-direction: column;
    width: 430px;
    height: inherit;
    padding-left: 20px;
    flex-wrap:wrap;
    line-height: 30px;
    align-items: center;
}

.PlayerImgContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  align-items: center;
}

.SeasonGradeContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: -20px;
  margin-left: -5px;
}

.img-wrapper {
  width: 55px;
  height: 55px;
}

.img-wrapper img {
  width: 100%; /* 이미지를 부모 요소에 꽉 채우도록 설정 */
  height: auto; /* 이미지 높이 자동 조정 */
  display: block; /* 이미지를 블록 요소로 표시하여 테두리 안에 정렬 */
}

.img-wrapper:hover{
  transform: scale(1.2);
}

.PlayerDetailContainer {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  justify-content: center;
}

.PlayerInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 150px;
  margin-top: 5px;
}

.PlayerPosition {
  margin-top: -8px;
}

.PlayerName{
  margin-top: -15px;
  text-shadow: -1px 0px #616161, 0px 1px #616161, 1px 0px #616161, 0px -1px #616161;
}

.PlayerStatusBallContainer{
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -10px;
  margin-left: -10px;
  margin-bottom: 15px;
}

.PlayerStatusGoal {
  display: flex;
  flex-direction: column;
}

.PlayerStatus {
  color: white;
  background-color: rgba(98, 103, 109, 0.7);
  border-radius: 10px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  padding: 0 5px;
  font-size: 12px;
  position: absolute;
  margin-left: -25px;
}

.PlayerStatusMVP {
  color: white;
  background-color: rgba(255, 215, 0, 0.8);
  border-radius: 10px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  padding-left: 5px;
  padding-right: 3px;
  font-size: 12px;
  position: absolute;
  margin-left: -35px;
}

.BallContainer {
  flex-direction: row;
  height: 20px;
  margin-left: 35px;
  margin-top: -4px;
  position: absolute;

}

.BallWrapper{
  width: 17px;
  height: 17px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position:relative;
  margin-right: -13px;
}

.Ball{
  top:0;
  left:0;
  position:absolute;
  margin-top: 1px;
  margin-left: 1px;
}

.BallWrapper{
  width:17px;
  height:17px;
  border-radius: 50%;
  background-color: white;
  margin-right: -10px;
}

.SeasonImg {
  margin-top: -15px;
  margin-right: 2px;
}


.gold{
    width: 18px;
    height: 12px;
    background: #f9dd62 !important;
    background: linear-gradient(140deg, #f9dd62 0%, #f9dd62 0%, #dca908 70%) !important;
    border: 3px solid #cda000 !important;
    border-top-color: #e9d36c !important;
    border-left-color: #e9d36c !important;
    border-right-color: #cda000 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-2px;
}

.goldText{
    font-size: 12px;
    color: #695100 !important;
}

.silver{
    width: 18px;
    height: 12px;
    background: #020024 !important;
    background: linear-gradient(140deg, rgb(2, 0, 36) 0%, rgb(216, 217, 220) 0%, rgb(184, 189, 202) 100%) !important;
    border: 3px solid #a5a8ae !important;
    border-top-color: #d8dadc !important;
    border-left-color: #d8dadc !important;
    border-right-color: #a9aaae !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-2px;
}

.silverText{
    font-size: 12px;
    color: #4e545e !important;
}

.bronze{
    width: 18px;
    height: 12px;
    background: #de946b !important;
    background: linear-gradient(140deg, #de946b 0%, #de946b 0%, #ad5f42 100%) !important;
    border: 3px solid #864229 !important;
    border-top-color: #e4b7a2 !important;
    border-left-color: #e4b7a2 !important;
    border-right-color: #864229 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-2px;
}

.bronzeText{
    font-size: 12px;
    color: #7e3f27 !important;
}

.normal{
    width: 18px;
    height: 12px;
    background: #51545a !important;
    background: linear-gradient(140deg, #51545a 0%, #51545a 0%, #42464d 100%) !important;
    border: 3px solid #393a3c !important;
    border-top-color: #62676d !important;
    border-left-color: #62676d !important;
    border-right-color: #393a3c !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-2px;
}

.normalText{
    font-size: 12px;
    color: #c5c8c9 !important;
}

.SeeMore{
  width: 1240px;
  height: 80px;
  padding: 0 20px;
  background-color: #d4d4d4;
  color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  margin-top: 10px;
  font-size: 21px;
}