.MatchResultBackground{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:1300px;
}

.MatchResultContainer{
    width: 1240px;
    height: 85px;
    padding: 0 20px;
    background-color: #d4d4d4;
    color:white;
    border-radius: 15px;
    box-shadow: 0px 4px 4px #00000040;
    display: flex;
    align-items: center;
    margin-top: 5px;
}



