.CombinedDataContainerGK {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 600px;
  margin-left: 40px;
}
.CombinedDataContainerSW {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 470px;
  margin-left: 40px;
}
.CombinedDataContainerRWB {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 420px;
  margin-left: 430px;
}
.CombinedDataContainerRB {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 510px;
  margin-left: 430px;
}
.CombinedDataContainerRCB {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 510px;
  margin-left: 220px;
}
.CombinedDataContainerCB {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 510px;
  margin-left: 40px;
}
.CombinedDataContainerLCB {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 510px;
  margin-left: -140px;
}
.CombinedDataContainerLB {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 510px;
  margin-left: -360px;
}
.CombinedDataContainerLWB {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 420px;
  margin-left: -360px;
}
.CombinedDataContainerRDM {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 360px;
  margin-left: 240px;
}
.CombinedDataContainerCDM {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 360px;
  margin-left: 40px;
}
.CombinedDataContainerLDM {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 360px;
  margin-left: -160px;
}
.CombinedDataContainerRM {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 220px;
  margin-left: 430px;
}
.CombinedDataContainerRCM {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 280px;
  margin-left: 240px;
}
.CombinedDataContainerCM {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 280px;
  margin-left: 40px;
}
.CombinedDataContainerLCM {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 280px;
  margin-left: -160px;
}
.CombinedDataContainerLM {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 220px;
  margin-left: -360px;
}
.CombinedDataContainerRAM {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 180px;
  margin-left: 240px;
}
.CombinedDataContainerCAM {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 180px;
  margin-left: 40px;
}
.CombinedDataContainerLAM {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 180px;
  margin-left: -160px;
}
.CombinedDataContainerRF {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 90px;
  margin-left: 250px;
}
.CombinedDataContainerCF {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 90px;
  margin-left: 40px;
}
.CombinedDataContainerLF {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 90px;
  margin-left: -170px;
}
.CombinedDataContainerRW {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 50px;
  margin-left: 430px;
}
.CombinedDataContainerRS {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 10px;
  margin-left: 230px;
}
.CombinedDataContainerST {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 10px;
  margin-left: 40px;
}
.CombinedDataContainerLS {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 10px;
  margin-left: -140px;
}
.CombinedDataContainerLW {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: absolute;
  margin-top: 50px;
  margin-left: -360px;
}

.CombinedDataContainerGK:hover{z-index:999;}
.CombinedDataContainerSW:hover{z-index:999;}
.CombinedDataContainerRWB:hover{z-index:999;}
.CombinedDataContainerRB:hover{z-index:999;}
.CombinedDataContainerRCB:hover{z-index:999;}
.CombinedDataContainerCB:hover{z-index:999;}
.CombinedDataContainerLCB:hover{z-index:999;}
.CombinedDataContainerLB:hover{z-index:999;}
.CombinedDataContainerLWB:hover{z-index:999;}
.CombinedDataContainerRDM:hover{z-index:999;}
.CombinedDataContainerCDM:hover{z-index:999;}
.CombinedDataContainerLDM:hover{z-index:999;}
.CombinedDataContainerRM:hover{z-index:999;}
.CombinedDataContainerRCM:hover{z-index:999;}
.CombinedDataContainerCM:hover{z-index:999;}
.CombinedDataContainerLCM:hover{z-index:999;}
.CombinedDataContainerLM:hover{z-index:999;}
.CombinedDataContainerRAM:hover{z-index:999;}
.CombinedDataContainerCAM:hover{z-index:999;}
.CombinedDataContainerLAM:hover{z-index:999;}
.CombinedDataContainerRF:hover{z-index:999;}
.CombinedDataContainerCF:hover{z-index:999;}
.CombinedDataContainerLF:hover{z-index:999;}
.CombinedDataContainerRW:hover{z-index:999;}
.CombinedDataContainerRS:hover{z-index:999;}
.CombinedDataContainerST:hover{z-index:999;}
.CombinedDataContainerLS:hover{z-index:999;}
.CombinedDataContainerLW:hover{z-index:999;}