.screen {
    background-color: #1e1e1e;
    background-image: linear-gradient(to right, #1e1e1e, #323232);
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 1600px;
    position: relative;
    height: 100vh;
  }
  
  .screen .div {
    width: 1280px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .screen .group {
    height: 85px;
    top: 450px;
    width: 1280px;
  }
  
  .screen .overlap-group {
    background-color: #ff8383cc;
    border-radius: 15px;
    box-shadow: 0px 4px 4px #00000040;
    height: 85px;
    position: absolute;
    width: 1280px;
    
  }

  .screen .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 23px;
    left: 525px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 31px;
    white-space: nowrap;
    width: 296px;
  }
  
  .screen .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 23px;
    left: 70px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 25px;
    white-space: nowrap;
    width: 100px;
  }

  
  .screen .overlap-group-wrapper {
    height: 85px;
    top: 560px;
    width: 1280px;
  }
  
  .screen .overlap {
    background-color: #5e8be2b2;
    border-radius: 15px;
    box-shadow: 0px 4px 4px #00000040;
    height: 85px;
    position: relative;
    width: 1280px;
  }

  .screen .winrate {
      border-radius: 15px;
      background: linear-gradient(90deg, #000 16%, #666 85%);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      display: flex;
      align-items: start;
      gap: 20px;
      font-size: 25px;
      font-weight: 400;
      text-align: center;
      justify-content: space-between;
      padding: 23px 68px;
    }
    
    @media (max-width: 991px) {
      .winrate {
        flex-wrap: wrap;
        padding: 0 20px;
      }
    }
  
  
  .screen .div-wrapper {
    height: 85px;
    left: 287px;
    position: absolute;
    top: 821px;
    width: 1280px;
  }
  
  .screen .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 23px;
    left: 527px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 296px;
  }

  
  .screen .text-wrapper-4 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 23px;
    left: 70px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 30px;
    white-space: nowrap;
    width: 100px;
  }
  
  .screen .text-wrapper-5 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 23px;
    left: 527px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 30px;
    white-space: nowrap;
  }
  
  .screen .img {
    height: 121px;
    left: 283px;
    position: absolute;
    top: 482px;
    width: 1280px;
  }
  
  .screen .group-wrapper {
    box-shadow: 0px 4px 4px #00000040;
    border: 0px;
    border-radius: 15px;
    height: 220px;
    position: absolute;
    margin-top: 80px;
    width: 1280px;
    background-image: linear-gradient(to right, #5B5B5B, #000000);
    animation: colorChange 5s infinite alternate cubic-bezier(0.4, 0, 0.2, 1); /* 애니메이션 이름, 시간, 반복 설정 */
  }

  @keyframes colorChange {
      0% {
          background-image: linear-gradient(to right, #000000, #5B5B5B); /* 시작 색상 */
      } 
      100% {
        background-image: linear-gradient(to right, #5B5B5B, #000000); /* 시작 색상 */
      } 
  }
  .screen .group-2 {
    height: 212px;
  }
  
  
  .screen .group-3 {
    height: 111px;
    right: 100px;
    position: absolute;
    top: 60px;
    width: 185px;
  }
  
  .screen .text-wrapper-6 {
    color: #ffffff;
    font-family: "Koulen-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 20px;
    text-align: right;
    top: 0;
    white-space: nowrap;
  }
  
  .screen .text-wrapper-7 {
    color: #ffffff;
    font-family: "Koulen-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    position: absolute;
    text-align: right;
    top: 71px;
    white-space: nowrap;
  }
  
  .screen .ico {
    height: 111px;
    left: 40px;
    object-fit: cover;
    position: absolute;
    top: 50px;
    width: 100px;
  }
  
  .screen .group-4 {
    height: 110px;
    left: 202px;
    position: absolute;
    top: 58px;
    width: 164px;
  }
  
  .screen .text-wrapper-8 {
    color: #ffffff;
    font-family: "Koulen-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 43px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 67px;
    width: 87px;
    white-space: nowrap;
    margin-left: 5px;
  }
  
  .screen .text-wrapper-9 {
    color: #ffffff;
    font-family: "Koulen-Regular", Helvetica;
    font-size: 45px;
    font-weight: 400;
    height: auto;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: auto;
  }
  
  .screen .fconlinelogo {
    height: 63px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 115px;
  }
  
  .screen .group-8 {
    height: 32px;
    position: relative;
    width: 500px;
    top: 350px;
  }
  /* 게임 타입에 대한 css */
  
  .screen .text-wrapper-11 {
    color: #ffffff;
    font-family: "Mina-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 30px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    top: 0;
    width: 80px;
  }
  
  .screen .text-wrapper-12 {
    color: #ffffff;
    font-family: "Mina-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 30px;
    left: 120px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
    top: 1px;
    width: 80px;
  }
  
  .screen .text-wrapper-13 {
    color: #ffffff;
    font-family: "Mina-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 30px;
    left: 240px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
    top: 1px;
    width: 80px;
  }
  
  .screen .text-wrapper-14 {
    color: #ffffff;
    font-family: "Mina-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 32px;
    left: 360px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
    top: 0;
    width: 120px;
  }
  
  .screen .text-wrapper-15 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 24px;
    left: 22px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
    white-space: nowrap;
    
  }
  
  .screen .searchicon {
    height: 20px;
    left: 1000px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    width: 34px;
  }
  

  .SearchContainer1{
      margin-top: 8px;
      flex-direction: row;
      width: 1280px;
      margin-bottom: 20px;
  }
  .SearchNickname1{
      width: 1250px;
      height: 40px;
      border: 2.5px solid white;
      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.7);
      padding-left: 20px;
      color: white;
      font-size: 18px;
      position: relative;
      
  }
  .SearchNickname1::placeholder{
      color: rgb(129, 129, 129, 0.8);
      font-size: 18px;
  }

  .screen .SearchIcon1{
      width: 40px;
      height: 40px;
      cursor: pointer;
      z-index: 999;
      align-self: center;
      position: absolute;
      left: 1230px;
      top: 2px;
  }



  .div .MatchResultContainer{
    width: 1280px;
    height: auto;
    margin-top: 400px;
  }