.SearchPageBackground {
    animation-name: BGChange;
    animation-iteration-count: infinite;
    animation-duration: 40s;
    animation-delay: 5s;
    min-width: 1600px;
    height: 1000px;
    margin: 0;
    /* background-image: url('../assets/embappe.png'); */
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

@keyframes BGChange {
    0%, 100% {
        background-image: url('../assets/backgrounds/mbappe.png');
    }
    20% {
        background-image: url('../assets/backgrounds/bellingham.png');
    }
    40% {
        background-image: url('../assets/backgrounds/haaland.png');
    }
    60% {
        background-image: url('../assets/backgrounds/leao.png');
    }
    80% {
        background-image: url('../assets/backgrounds/musiala.jpg');
    }
}

.MainContainer{
    width: 1280px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.SearchContainer{
    align-self: center;
    margin-top: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.SearchNickname{
    width: 680px;
    height: 70px;
    border: 3px solid white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 20px;
    color: white;
    font-size: 18px;
    position: relative;
}
.SearchNickname::placeholder{
    color: white;
    font-size: 18px;
}

.SearchIcon{
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 999;
    align-self: center;
    position: absolute;
    margin-left: 620px;
}

.NoticeContainer{
    margin-top: 50px;
    width: 660px;
    padding: 20px;
    height: 450px;
    border: 3px solid white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 18px;
    align-self: center;
    overflow-y: scroll;
    position: relative;
}

.UrgentNoticeCategory{
    color:aquamarine;
}

.NoticeAnker{
    color: white;
    text-decoration: none;
}

.NoticeContainer::-webkit-scrollbar-track{
    height: 90%;
    background-clip: content-box;
}

.NoticeContainer::-webkit-scrollbar{
    width: 10px;
    height: 90%;
    position: absolute;
    right: 5px;
}

.NoticeContainer::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
    height: 90%;
}

.NoticeTitle{
    font-size: 21px;
}

.LogosContainer{
    position: absolute;
    right: 30px;
    top: 900px;
    
}

.LeagueLogos{
    width: 300px;
    height: auto;
}
