.SearchPageBackground {
    animation-name: BGChange;
    animation-iteration-count: infinite;
    animation-duration: 40s;
    animation-delay: 5s;
    min-width: 1600px;
    height: 1000px;
    margin: 0;
    /* background-image: url('../assets/embappe.png'); */
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

@keyframes BGChange {
    0%, 100% {
        background-image: url('../assets/backgrounds/mbappe.png');
    }
    20% {
        background-image: url('../assets/backgrounds/bellingham.png');
    }
    40% {
        background-image: url('../assets/backgrounds/haaland.png');
    }
    60% {
        background-image: url('../assets/backgrounds/leao.png');
    }
    80% {
        background-image: url('../assets/backgrounds/musiala.jpg');
    }
}

.MainContainer{
    width: 1280px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.SearchContainer{
    align-self: center;
    margin-top: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.SearchNickname{
    width: 900px;
    height: 70px;
    border: 3px solid white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 20px;
    color: white;
    font-size: 18px;
    position: relative;
}
.SearchNickname::placeholder{
    color: white;
    font-size: 18px;
}

.SearchIcon{
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 999;
    align-self: center;
    position: absolute;
    margin-left: 850px;
}

.NoticeContainer{
    margin-top: 50px;
    width: 880px;
    padding: 20px;
    height: 450px;
    border: 3px solid white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 18px;
    align-self: center;
    overflow-y: scroll;
    position: relative;
}

.UrgentNoticeCategory{
    color:aquamarine;
}

.NoticeAnker{
    color: white;
    text-decoration: none;
}

.NoticeContainer::-webkit-scrollbar-track{
    height: 90%;
    background-clip: content-box;
}

.NoticeContainer::-webkit-scrollbar{
    width: 10px;
    height: 90%;
    position: absolute;
    right: 5px;
}

.NoticeContainer::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
    height: 90%;
}

.NoticeTitle{
    font-size: 21px;
}

.LogosContainer{
    position: absolute;
    right: 30px;
    top: 900px;
    
}

.LeagueLogos{
    width: 300px;
    height: auto;
}

.gold{
    width: 22px;
    height: 15px;
    background: #f9dd62 !important;
    background: linear-gradient(140deg, #f9dd62 0%, #f9dd62 0%, #dca908 70%) !important;
    border: 2px solid #cda000 !important;
    border-top-color: #e9d36c !important;
    border-left-color: #e9d36c !important;
    border-right-color: #cda000 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goldText{
    font-size: 12px;
    color: #695100 !important;
}

.silver{
    width: 22px;
    height: 15px;
    background: #020024 !important;
    background: linear-gradient(140deg, rgb(2, 0, 36) 0%, rgb(216, 217, 220) 0%, rgb(184, 189, 202) 100%) !important;
    border: 2px solid #a5a8ae !important;
    border-top-color: #d8dadc !important;
    border-left-color: #d8dadc !important;
    border-right-color: #a9aaae !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.silverText{
    font-size: 12px;
    color: #4e545e !important;
}

.bronze{
    width: 22px;
    height: 15px;
    background: #de946b !important;
    background: linear-gradient(140deg, #de946b 0%, #de946b 0%, #ad5f42 100%) !important;
    border: 2px solid #864229 !important;
    border-top-color: #e4b7a2 !important;
    border-left-color: #e4b7a2 !important;
    border-right-color: #864229 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bronzeText{
    font-size: 12px;
    color: #7e3f27 !important;
}

.normal{
    width: 22px;
    height: 15px;
    background: #51545a !important;
    background: linear-gradient(140deg, #51545a 0%, #51545a 0%, #42464d 100%) !important;
    border: 2px solid #393a3c !important;
    border-top-color: #62676d !important;
    border-left-color: #62676d !important;
    border-right-color: #393a3c !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.normalText{
    font-size: 12px;
    color: #c5c8c9 !important;
}