.div {
    border-radius: 15px;
    background: linear-gradient(90deg, #000 16%, #666 85%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: start;
    gap: 20px;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    justify-content: space-between;
    padding: 23px 68px;
  }
  
  @media (max-width: 991px) {
    .div {
      flex-wrap: wrap;
      padding: 0 20px;
    }
  }
  
  .div-3 {
    color: #fff;
    font-family: Inter, sans-serif;
  }
  
  .div-4 {
    font-family: Inknut Antiqua, -apple-system, Roboto, Helvetica, sans-serif;
    background: linear-gradient(
          to bottom right,
          rgba(0, 56, 255, 0.85) 0%,
          rgba(255, 0, 76, 0.85) 50%
        )
        bottom right / 50% 50% no-repeat,
      linear-gradient(
          to bottom left,
          rgba(0, 56, 255, 0.85) 0%,
          rgba(255, 0, 76, 0.85) 50%
        )
        bottom left / 50% 50% no-repeat,
      linear-gradient(
          to top left,
          rgba(0, 56, 255, 0.85) 0%,
          rgba(255, 0, 76, 0.85) 50%
        )
        top left / 50% 50% no-repeat,
      linear-gradient(
          to top right,
          rgba(0, 56, 255, 0.85) 0%,
          rgba(255, 0, 76, 0.85) 50%
        )
        top right / 50% 50% no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: center;
    margin-top: 14px;
  }
  
  .div-5 {
    display: flex;
    flex-direction: column;
  }
  
  .div-6 {
    color: #ff8a00;
    font-family: Inter, sans-serif;
  }
  
  .div-7 {
    color: #fff;
    font-family: Inknut Antiqua, -apple-system, Roboto, Helvetica, sans-serif;
    align-self: center;
    margin-top: 16px;
  }
  
  .div-8 {
    display: flex;
    flex-direction: column;
  }
  
  .div-9 {
    color: #ebff00;
    font-family: Inter, sans-serif;
  }
  
  .div-10 {
    color: #fff;
    font-family: Irish Grover, -apple-system, Roboto, Helvetica, sans-serif;
    align-self: center;
    margin-top: 16px;
  }